/*GENERAL*/
body
{
    background-color: rgb(0, 0, 0);
    margin-left: 64px;
    margin-right: 64px;
    margin-top: 64px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(252, 157, 220);
    text-wrap: auto; 
}
img, video
{
    border: 1px solid rgb(252, 157, 220);
    margin: 0px;
}
iframe
{
    border: 1px solid rgb(252, 157, 220);
    margin: 0px;
    width: 700px;
}
li
{
    list-style-type: "> ";
    padding: 0px;
    margin: 0px;
    margin-bottom: 8px;
}
button
{
    border: none;
    background: none;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(252, 157, 220);
    font-size: 16px;
}
th
{
    font-weight: 100;
}
td
{
    margin: 0px;
}
a,a.visited
{
    color: red;
}
/*ALL SUBPAGE ELEMENTS*/
#title
{
    border-top: 2px solid rgb(252, 157, 220);
    height: 48px;
    font-size: 48px;
    line-height: 48px;
    padding-top: 16px;
 
}
#subtitle
{
    height: 24px;
    font-size: 24px;
    line-height: 24px;
    
}

#select
{
    margin-top: 16px;
    margin-bottom: 32px;
}
.slctcell
{
    border: 1px solid rgb(252, 157, 220);
    padding: 0px;
}
.slctcell:hover
{
    background-color: rgb(44, 44, 44);
}
.slctbttn
{
    color: rgb(252, 157, 220);
    text-decoration: none;
    padding: 8px;
}

.main_box
{
    border: 1px solid rgb(252, 157, 220);
    width: fit-content;
    padding: 8px;
    background-color: rgb(0, 0, 0);
    
}
.main_text
{
    border: 1px solid rgb(252, 157, 220);
   padding: 0px;
    width: auto;
    background-color: rgb(0, 0, 0);
    
/*HOME*/
}
#teto
{
    position: absolute;
    top: 256px;
    left: 512px;
}
#deer
{
    position: absolute;
    top: 256px;
    left: 896px;
}
#socials
{
    position: absolute;
    top: 128px;
    left: 1024px;
}
.social
{
    color: red
}
#aboutMe
{
    position: relative;
    top: 64px;
    left: 32px;
    width: 324px;
}
#date
{
    position: relative;
    top: 64px;
    left: 128px;
}
#eimiko
{
    position: relative;
    top: 64px;
    left: 64px;  
}

/*ANIMANGA*/
.show
{
    border: 1px solid rgb(252, 157, 220);
    /*height: 256px;*/
    width: 256px;
    padding: 16px;
    font-size: 24px;
    text-align:center;
}
.show_title
{
    color:rgb(252, 157, 220)
}
.show_head
{
    font-size: 24px;
}
.show_row
{
    margin-bottom: 16px;
}

/*BLOG*/
.post
{
    width: 1024px;
    height: auto;
    border: 1px solid rgb(252, 157, 220);
    padding: 8px;
}
#cube
{
    width: 64px;
    height: 64px;
    border: 1px solid rgb(252, 157, 220);
    background-color: aquamarine;
    position: relative;
    transform: 10px;
    top: 0px;
    left: 0px;
}

/*MUSIC*/
.album
{
    width: 1250px;
    height: auto;
    padding: 8px;
    background-color: rgb(0, 0, 0);  
    border: 1px solid rgb(252, 157, 220);
    position: relative;
}

.album .title
{
    position: absolute;
    left: 400px;
    top: 100px;
    width: 384px;
    padding: 8px;
    text-align: left;
    
    
}

.album .rating
{
    position: absolute;
    left: 400px;
    top: 300px;
    width: 384px;
    padding: 8px;
    font-size: 48px;
    text-align: left;
    font-weight: bold;
}

.album img
{
    width: 384px;
    position: absolute;
}

.album a
{
    color: rgb(252, 157, 220);
    font-size: 52px;
    font-weight: bold;
}

.album .main
{
    position: absolute;
    left: 0px;
    top: 400px;
    width: 384px;
    color: rgb(252, 157, 220); 
    width: 600px;
    padding: 8px;  
    
}

.album .songs
{
    position: relative;
    left: 800px;
    top:    0px;
    width: 384px;
    padding: 8px;
    height: fit-content;
}

.album p
{
    font-weight: bold;
    text-decoration: underline;
    font-size: 18px;
    margin-bottom: 0px;
}
/*

.current
{

    background-color: rgb(127, 68, 68);

}
